extends ../layout

block content 

    h1 Camera Category: #{camera_category.name}
    p #{camera_category.description}

    div(style='margin-left:20px;margin-top:20px')

        h4 Cameras 

        dl 
            each camera in camera_category_cameras 
                dt 
                    a(href=camera.url) (#{camera.brand.name}) #{camera.name}
                dd #{camera.description}
            
            else 
                p This camera category has no cameras.

    hr
    p 
        a(href=camera_category.url+'/delete') Delete Camera Category
    p 
        a(href=camera_category.url+'/update') Update Camera Category